{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "esmodules": true
                },
                "corejs":3 ,
                "useBuiltIns": "usage"
            }
        ],
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "plugins": ["@babel/plugin-transform-regenerator"],
    "env": {
        "production": {
            "presets": ["minify"]
        }
    }
}
