body
  font-family: sans-serif

.albums-selector
  border: 1px black solid
  margin: 2em 2vw
  padding: 0 2vw
  > *
    margin: 1em 0 !important
    display: block

.album
  h3, h5
    margin: 0
    display: inline-block
    padding: 0.05em 0.25em
  header
    button, label
      margin-left: 2em

  &.fading
    opacity: 0.25
    transition: opacity 0.25s ease-in

ul.tracklist.fuller > li
  list-style: square

ol.tracklist.fuller > li
  list-style: decimal

ul.tracklist, ol.tracklist
  font-size: 0.75em
  margin: 0.5em
  padding: 0
  > li
    list-style: none
    padding: 0.1em 0.75em
    white-space: nowrap

  &.fuller > li
    margin-left: 2em
    white-space: normal
    padding-left: 1em
    text-indent: -1em

  &.total > li
    list-style: none
    padding-top: 0.5em

  &.selectable > li
    cursor: pointer
    transition: background 0.25s ease-out
    &.include
      background: hsla(95, 100%, 70%, 0.75)
    &.exclude
      background: hsla(45, 100%, 70%, 0.75)

.set-include .tracklist.selectable.fade > li
  &:hover
    background: hsla(95, 100%, 70%, 0.5)
  &.include:hover
    background: hsla(95, 100%, 70%, 1)

.set-exclude .tracklist.selectable.fade > li
  &:hover
    background: hsla(45, 100%, 70%, 0.5)
  &.exclude:hover
    background: hsla(45, 100%, 70%, 1)

.choices
  display: grid
  grid-template-columns: repeat(6, 1fr)
  grid-column-gap: 1em

  .selection
    grid-column-end: span 3
  .choice
    grid-column-end: span 2

.alerts
  .alert
    padding: 5px
    margin: 5px
    display: inline-block
    border: 1px solid black

.alert-enter
  opacity: 0.01

  &.alert-enter-active
    opacity: 1
    transition: opacity 0.1s ease-in

.alert-leave
  opacity: 1

  &.alert-leave-active
    opacity: 0.01
    transition: opacity 0.1s ease-in
